---
import "@fontsource-variable/inter";
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import WhoIsItFor from "~/components/who-is-it-for.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import LandingPageSplash from "~/components/landing-page-splash.astro";
import WhatYouLearn from "~/components/what-you-learn.astro";
import AtAGlance from "~/components/at-a-glance.astro";
import BragBox from "~/components/brag-box.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Astro Landing Page</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" href="https://use.typekit.net/wih8loc.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <LandingPageSplash />
    <div
      class="bg-size-100 relative h-[35px] w-full bg-triangle bg-repeat-x"
      style="background-size:45px;"
    >
    </div>
    <div class="space-y-24 bg-cream px-8 py-24">
      <div class="mx-32">
        <Intro />
      </div>
    </div>

    <BragBox />
    <WhoIsItFor />
    <WhatYouLearn />
    <AtAGlance />
    <Compatibility />
    <Showcase />
  </body>
  <script
    is:inline
    client:load
    async
    data-uid="b8aa984805"
    src="https://the-copy-whisperer.ck.page/b8aa984805/index.js"></script>
</html>
<Footer />
